
@import "setup/var";
@import "setup/typography";

@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";
@import "basics/professional-bg";
@import "basics/responsive";

@import "RootCmp";

@import "cmps/AboutUs";
@import "cmps/AboutMe";
@import "cmps/HomePage";
@import "cmps/ProjectsPage";
@import "cmps/SkillsPage";
@import "cmps/ProjectsList";
@import "cmps/TechSkills";
@import "cmps/ScrollNavigation";

@import "cmps/AppHeader";
@import "cmps/AppFooter";
